.wrapper
  = render partial:"shared/header"
  = render partial:"shared/bread_crumbs"
.wrapper-logout
  .container
    .content-side-bar      
    .content
      .content__chapter
        %form.content__chapter__form
          .content__chapter__form__btn
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'content__chapter__form__btn__red'
    = render partial:"shared/side_bar"
= render partial:"shared/ctabanner"
= render partial:"shared/footer"