.main
  .image-box
  .pickup-box
    %h2.pickup-box__title ピックアップカテゴリー
    .pickup-box__new-items
      = link_to "レディース 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "メンズ 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "ベビー・キッズ 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "コスメ・香水・美容 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
  .pickup-box
    %h2.pickup-box__title ピックアップブランド
    .pickup-box__new-items
      = link_to "シャネル 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "ルイ ヴィトン 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "シュプリーム 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "ナイキ 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
.banner
  .banner-inner
    .banner-inner__content-box
      .banner-inner__content-box__text
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
      .banner-inner__content-box__images
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1763701673", width: 68
        .banner-inner__content-box__images__link-box
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1763701673"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1763701673"
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1763701673", class: "banner-inner__phone-image"
= link_to root_path, class: "sell-btn" do
  %p.sell-btn__text 出品
  = fa_icon "camera"


