.main
  .image-box.slick
    = image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg"
    = image_tag "https://assets.st-note.com/production/uploads/images/8416298/rectangle_large_type_2_46ffcfccf4f8a9fb448290dafd69d2c1.jpg?fit=bounds&format=jpeg&quality=45&width=960"
  .pickup-box
    %h2.pickup-box__title ピックアップカテゴリー
    .pickup-box__new-items
      = link_to "レディース 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "メンズ 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "ベビー・キッズ 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "コスメ・香水・美容 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
  .pickup-box
    %h2.pickup-box__title ピックアップブランド
    .pickup-box__new-items
      = link_to "シャネル 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "ルイ ヴィトン 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "シュプリーム 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
    .pickup-box__new-items
      = link_to "ナイキ 新着アイテム", root_path, class: "pickup-box__new-items__title" 
      .items-container
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
        = link_to root_path, class: "item-box" do
          = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
          .item-box__text
            %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
            .item-box__text__number-box
              %p.item-box__text__number-box__price ¥1,980
              .item-box__text__number-box__like-box
                = fa_icon "heart"
                %span 10
      = link_to "すべての商品を見る", root_path, class: "pickup-box__new-items__view-all"
