.container__right__displayed-results
  .container__right__displayed-results__display
    = "1-#{@items.length}件表示"
.container__right__search-item
  .container__right__search-item__results
    - @items.each do |item|
      .container__right__search-item__results__box
        =link_to item_path(item.id),method: :get do
          .container__right__search-item__results__box__image-box
            = image_tag item.image.url, alt: "画像1", class: "owl-lazy"
            .container__right__search-item__results__box__image-box__name-box
              = item.name
            .container__right__search-item__results__box__image-box__price
              = item.price