<<<<<<< HEAD
= render "shared/header" 
= render "shared/main" 
= render "shared/footer" 
=======
= render "shared/header"
= render "shared/main"
= render "shared/footer"
>>>>>>> dac12bb4a97271d15f4df9780c97fdc3d266b49a
