.wrapper
  = render partial:"shared/header"

.itemcontainer
  .itemcontainer__box
    .itemcontainer__box__content
      .itemcontainer__box__content__detail
        %h2.item-name
          = @item.name
        %p.item-sumarry 
        .itemmain
          .itemmain__photo
            .itemmain__photo--main
              = image_tag @item.image.url, class: "itemmain__photo--main"
            .itemmain__photo--main__clearfix
              .itemmain__photo--sub
          %table.item-profile
            %tbody
              %tr
                %th
                  出品者
                %td
                  = @user.nickname
              %tr
                %th
                  カテゴリー
                %td
                  = @item.category.name
              %tr
                %th
                  商品の状態
                %td
                  = @item.condition
              %tr
                %th
                  配送元地域
                %td
                  = @item.prefecture.name
              %tr
                %th
                  配送の目安
                %td
                  = @item.deliver_date
          .item-price
            %span.item-price__bold
              = "¥#{@item.price.to_s(:delimited)}"
            %span.item-price__tax
              (税込)
            %span.item-price__shipping
              = @item.postage
            .buy-buttn
              = link_to "購入画面に進む", purchase_items_path(@item)
          .item-description
            %p  
              = @item.description
          .item-reputation
            .item-reputation__left
              %button.item-reputation__left--like
                = fa_icon "heart"
                %span いいね！
                %span 13
            .item-reputation__center
              .item-reputation__center--report
                = fa_icon "flag", class:"flag_icon"
                = link_to "不適切な商品の報告", "", class: "item-reputation__center--report--button"
            .item-reputation__right
              .item-reputation__right--safety
                =fa_icon "unlock-alt"
                = link_to "安心・安全への取り組み", "", class: "item-reputation__right--safety--span"
            
      .listing-item-change-box
        = link_to "商品の編集", edit_item_path(@item), class: "btn-default btn-red"
        %p.text-center 
        .item-btn-float-area
          .btn-default.btn-gray 出品を一旦停止する
        .item-btn-float-area2
          = link_to "この出品を削除する",  item_path(@item), method: :delete,class: "btn-default btn-gray2", data: { confirm: '削除しますか？' }

      .item-comment-container
        %ul.item-comment-container__list
          = render partial: 'comment'
        .item-comment-container__form
          %span.item-comment-container__form__notice 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{name: "comment", placeholder: "コメントを入力してください", type: "text", value: "", class:"item-comment-container__form__input"}
          .comment-buttn
            コメントする
  .item-nav
    %ul
      %li.item-nav__prev
        = link_to "前の商品", ""
      %li.item-nav__next
        = link_to "次の商品", ""
  = render partial: 'socialmedia'
  .reccomend-item
    = link_to "謎の出品者Aさんのその他の出品", root_path, class: "reccomend-item__title"
    .items-container
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
    = link_to "HUBLOT その他の出品", root_path, class: "reccomend-item__title"
    .items-container
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
      = link_to root_path, class: "item-box" do
        = image_tag "https://image.jimcdn.com/app/cms/image/transf/dimension=466x1024:format=jpg/path/se4fbc1a2df4b7ca0/image/iba3c8e595038ed6f/version/1553047207/image.jpg", class: "item-box__link"
        .item-box__text
          %h3.item-box__text__name ここに商品名が入る!ここに商品名が入る！ここに商品名が入る！
          .item-box__text__number-box
            %p.item-box__text__number-box__price ¥1,980
            .item-box__text__number-box__like-box
              = fa_icon "heart"
              %span 10
= render partial:"shared/gray_bread_crumbs"
= render partial:"shared/ctabanner"
= render partial:"shared/footer"